<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd ">
	<!-- 药品目录 -->
	<bean id="ypxxService" class="yycg.business.service.impl.YpxxServiceImpl" />
	<!-- 药品目录 导入 -->
	<bean id="ypxxImportService" class="yycg.business.service.impl.YpxxImportServiceImpl"/>
	<!-- 供货商药品目录 -->
	<bean id="ypmlService" class="yycg.business.service.impl.YpmlServiceImpl" />
	<!-- 采购单管理 -->
	<bean id="cgdService" class="yycg.business.service.impl.CgdServiceImpl"/>
</beans>